// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
/** FOR THEMES!! **/

body[class$="black"] {
    background: black;
    color: white;
    fill: white;
}

body[class$="white"] {
    background: white;
    color: #222;
    fill: #222;
}

/*
 * Link theme
 */

body[class$="black"] a,
body[class$="black"] a:visited,
body[class$="black"] a:active {
    color: white;
}

body[class$="white"] a,
body[class$="white"] a:visited,
body[class$="white"] a:active {
    color: #222;
}

/*
 * HEADING THEMES
 */

body[class$="black"] h1 {
    color: rgba(255, 255, 255, 0.8);
}

body[class$="black"] h5 {
    color: rgba(200, 200, 200, 0.5);
}

/*
 * splash themes
 */

body[class$="black"] #welcome-container {
    background: rgba(0, 55, 55, 0.5);
}

body[class$="black"] .welcome-message {
    background: rgba(0, 0, 0, 0.6);
    border: 5px solid black;
}

/*
 * Tooltip
 */

body[class$="black"] .tooltip {
    background: black;
}

/*
 * Map legend
 */

body[class$="black"] .legend rect {
    stroke: #000;
}

/*
 * Progress bar
 */

body[class$="black"] #progress-text {
    background: rgba(0, 0, 0, 0.5);
}

body[class$="black"] #progress-text:after {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0.5);
}

body[class$="black"] #countryCount {
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}

/*
 * Friendbox
 */

body[class$="black"] #friends {
    color: #ccc;
    background: rgba(0, 0, 0, 0.5);
}

/*
 * infocontainer
 */

body[class$="black"] .infoContainer {
    background: rgba(0, 0, 0, 0.85);
    border-top: 1px solid white;
}

body[class$="white"] .infoContainer {
    background: rgba(255, 255, 255, 0.85);
}

/*
 * tags
 */

body[class$="black"] .tagdiv {
    color: #ccc;
}

body[class$="black"] .tagdiv .usertag {
    color: #fff;
}

/*
* flattr logo
*/

body[class$="black"] .flattr-logo {
    fill: white;
}

/**
* bmc logo
*/

body[class$="black"] .bmc-button {
    background: none;
    border: none;
}

body[class$="black"] .screenshot-overlay {
    &__close {
        background: black;
        color: white;
        border-color: white;
    }
}
